<style>
  
  body {
    background-image: url('http://file.mobilmusic.ru/5e/2b/01/700601.jpg');
    background-position: center 5%;
    background-size: auto;
    background-repeat: no-repeat;
    font-family: 'Khand', sans-serif;
  }

  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 93px;
    color: #b5000A;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #FEFE65;
    margin-top: 2%;
    text-shadow: 0 8px 5px rgba(0,0,0,1.5);
  }

  p {
    text-align: center;
    color: #DAE5EB;
    font-size: 24px;
  }

  img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


</style>

<h1>Festorama</h1>
<p>I just want to talk. It has nothing to do with mating. Fry, that doesn't make sense.</p>
<img src="http://i1049.photobucket.com/albums/s395/joepoe1/Bender1ass.png">

