<style>
  
  body {
    background-image: url('http://file.mobilmusic.ru/5e/2b/01/700601.jpg');
    background-position: center 5%;
    background-size: auto;
    background-repeat: no-repeat;


  }

  h1 {
    text-align: center;
    font-family: 'Khand', sans-serif;
    font-weight: bold;
    font-size: 93px;
    color: #b5000A;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #FEFE65;
    margin-top: 5%;
    text-shadow: 0 8px 5px rgba(0,0,0,1.5);
  }

</style>

<h1>Festorama</h1>