<style>

body {
  background-image: url('http://www.randombw.com/backgrounds/futurama/zoidberg.jpg');
  background-position: center 5%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#form {
  margin-top: 200px;
  font-family: 'Khand', sans-serif;
}

#form {
  text-align: right;
  float: right;
  width: 40%;
}

legend {
  font-size: 3.6em;

}

.button {
  border:  2px solid #fff !important;

}

</style>


<form id='form' ng-submit="userSignup()">
  <legend>Signup</legend>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="test@test.com" ng-model="user.email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="********" ng-model="user.password">
  </div>

  <button type="submit" class="button btn btn-primary btn-lg">Signup</button>
</form>